.score-board {
    background-image: url('./header-bg.jpg');
    position: fixed;
    top: 0;
    height: 65px;
    width: 100vw;
    background-size: 100%;
    box-shadow: 0 8px 12px #222222;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.split {
    white-space: nowrap;
    color: aliceblue;
    line-height: 65px;
    font-size: calc(8px + 1.5vw);
}

.split:nth-child(1) {
    font-weight: bold;
    font-size: calc(8px + 1.9vw);
}

.split:nth-child(2) {
    text-transform: capitalize;
    width: 33%;
}

.correct {
    -webkit-animation: greenGuess .5s;
    animation: greenGuess .5s;
    animation-iteration-count: 1;
}

.incorrect {
    -webkit-animation: redGuess .5s;
    animation: redGuess .5s;
    animation-iteration-count: 1;
}

@keyframes greenGuess {
    0% {
        color: white;
    }

    50% {
        color: green;
    }

    100% {
        color: white;
    }
}

@keyframes redGuess {
    0% {
        color: white;
    }

    50% {
        color: red;
    }

    100% {
        color: white;
    }
}